#show
 .flashcard
  %b Question #{session[:game_counter]}:
  %br
  %br
  Choices:
  - session[:all_answers].each do |shuffle|
   #{shuffle}
  %br
  %br
  You chose: #{params[:answer]}
  
  %br
  The correct answer was: #{session[:answer]}
  %br
  %br
  
  %mark.flash= flash[:notice]
  %p.flash= flash[:warning]
  - if session[:game_counter] < @numberOfQuestions 
   = button_to 'Continue', questions_id_path(:category => session[:category], :id=> 'selected_#{category}')
.home=link_to "Go back to the home page", questions_path()



